<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<div id="app" class="container-fluid clearfix">
		<div class="row h100">
			<div class="left col-md-2 col-lg-2 col-sm-2">
				<%=require('../comm/left.html')%>
			</div>
			<div class="right col-md-10 col-lg-20 col-sm-10">
				<%=require('../comm/header.html')%>
				<div class="main_container">
					<div class="main">
						<div class="row page_name">
							<div class="col-md-6 col-sm-6 page_text">店铺信息</div>
							<div class="col-md-6 col-sm-6 text-right">
								<button class="btn btn-primary" @click="saveData">保存</button>
							</div>
						</div>
						<div class="form-horizontal">
							<div class="form-group">
							    <label class="col-sm-2 control-label">店铺名称</label>
							    <div class="col-sm-8">
							      	<input type="text" v-model="name" class="form-control" placeholder="请输入店铺名称">
							    </div>
						  	</div>
						  	<div class="form-group">
							    <label class="col-sm-2 control-label">店铺logo</label>
							    <div class="col-sm-8">
							      	<img src="<%= require('../../assets/2.png')%>" alt="..." class="img-rounded">
							    </div>
						  	</div>
						  	<div class="form-group">
							    <label class="col-sm-2 control-label">人均消费</label>
							    <div class="col-sm-8">
							      	<input type="number" v-model="percapita" class="form-control" placeholder="请输入人均消费">
							    </div>
						  	</div>
						  	<div class="form-group">
							    <label class="col-sm-2 control-label">选择菜系</label>
							    <div class="col-sm-8">
							      	<select class="form-control" v-model="category">
							      		<option>1</option>
							      		<option>10</option>
									  	<option v-for="item in categorys" :value="item.id">{{item.name}}</option>
									</select>
							    </div>
						  	</div>
						  	<div class="form-group">
							    <label class="col-sm-2 control-label">店铺地址</label>
							    <div class="col-sm-8">
							      	<input type="text" v-model="address" class="form-control" placeholder="请输入店铺地址">
							    </div>
						  	</div>
						  	<div class="form-group">
							    <label class="col-sm-2 control-label">营业时间</label>
							    <div class="col-sm-8">
							      	<select class="form-control" v-model="businessHours">
									  	<option>1</option>
									  	<option>2</option>
									  	<option>3</option>
									  	<option>4</option>
									  	<option>5</option>
									</select>
							    </div>
						  	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>