<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<div id="app" class="container-fluid">
		<div class="left">
			<div class="icon">
				<img src="../../assets/foodzone-white.png" />
			</div>
			<div class="menu_item" @click="go('/menu1')">店铺信息</div>
			<div class="menu_item" @click="go('/menu2')">店铺信息</div>
			<div class="menu_item" @click="go('/menu3')">店铺信息</div>
			<div class="menu_item" @click="go('/menu4')">店铺信息</div>
		</div>
		<div class="right">
			<div class="header">
				<span class="glyphicon glyphicon-asterisk">{{msg}}</span>
			</div>
			<div class="main_container">
				<div class="main">
					<el-select v-model="value" placeholder="请选择">
					    <el-option v-for="item in options" :label="item.label" :value="item.value"></el-option>
				 	</el-select>
					<transition>
					  <keep-alive>
					    <component :is="curView"></component >
					  </keep-alive>
					</transition>
				</div>
			</div>
		</div>
	</div>
	#include("./menu1/view.html")
	#include("./menu2/view.html")
</body>
</html>